/* carousel style */
.carousel{
    width: 100%;
    margin: 10px auto;
}
html{
    background: linear-gradient(to right, rgb(155, 253, 97), green);
}
.slick-slide{
    margin: 10px 10px;
}

.slick-next:before, .slick-prev:before{

}

.heroeClass{
    background-size: cover;
    background: linear-gradient(black, red);
    border: 1px solid black;
    border-style: inset;
    border-radius: 45px;
    height: 250px;
    color: white;
    font-size: large;
    position: sticky;
    bottom: 10px;
}

/* manual slider style */

.slider{
  margin: 0px;
  padding: 0px;
  width: 800px;
  position: relative;
  overflow: hidden;
}

.slides{
  display: flex;
  flex-direction: row;
}

.slide{
  width: 800px;
  height: 600px;
}

.buttons{
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  top:50%;
  transform: translateY(-50%);
  
}

.button{
  cursor: pointer;
  background-color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 50px;
}