.carousel{
    width: 50%!important;
    margin: 15px auto;
}
html{
    background: linear-gradient(to left, black, red);
}
.slick-slide{
    margin: 10px 10px;
}

.slick-next:before, .slick-prev:before{

}

.heroeClass{
    background-size: cover;
    background: linear-gradient(black, red);
    border: 1px solid black;
    border-style: inset;
    border-radius: 45px;
    height: 250px;
    color: white;
    font-size: large;
    position: sticky;
    bottom: 10px;
}