.output{
    position: relative;
    width: 100%;
    height: 800px;
    margin: 0 auto;
    overflow: hidden;
}

.output img{
    position: absolute;
    width: 100%;
    height: 100%;

    opacity: 0.1;
    transition: opacity 1s;
}

.output img.active{
    opacity: 1;
}
